<center>
  <div class="row">
    <div class="col-4">
      <%= link_to "My Shop", new_item_path %>
    </div>

    <div class="col-4">
      <strong>
        Welcome <%= "#{@user["display_name"]}" %> !
      </strong>
    </div>

    <div class="col-4">
      Balance: Rp. <%= "#{@user["available_balance"]}" %>
    </div>
  </div>

  <p>You have successfully created your wallet</p>

  <p>You can top up your wallet by transfering to the following bank</p>

  <% @transfers["transfer_info_array"].each do |transfer| %>
    <strong>Bank Name: </strong>
    <%= "#{transfer["bank_name_full"]}" %>
    <br/>
    <strong>Account number</strong>
    <%= "#{transfer["bank_account_no"]}" %>
    <br/>
    <strong>Unique id</strong>
    <%= "#{transfer["unique_id"]}" %>
  <% end %>
</center>
